/* .App {
  text-align: center;
}
.black{
  background-color: rgb(127, 144, 228);
  width: 70px;
  height:70px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}
.grey{
  background-color: rgb(207, 225, 218);
  width: 70px;
  height:70px;
  text-align: center;
  font-size: 30px;
  text-decoration-color: aqua;
  cursor: pointer;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  margin: 20px;
}

.tariff-monitor, .energy-analytics, .smart-schedule, .solar-management {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
